/*重置*/
body{margin:0;}
a,span,p,img{text-decoration:none;margin: 0;padding: 0;}
input{ margin:0; border: none; padding:0}
ul,li{list-style: none;margin: 0;padding: 0;} 
/*清除浮动*/
.clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;        
}
.clearfix{
	*zoom:1;
}

.big_header{background: #3ba354;width: 100%;min-width: 1190px;height: 34px;border-bottom: 1px solid #dddddd;}
.header{width: 1190px;margin: 0 auto;}
.header_l{float: left;height: 34px;}
.header_l a{line-height: 34px;font-size: 12px;font-family: "宋体";color: #ffffff;margin-right: 30px;}
.header_r{float: right;}
.header_r a{line-height: 34px;font-size: 12px;font-family: "宋体";color: #ffffff;}
.header_r a:hover{text-decoration: underline;}
.header_r span{line-height: 34px;font-size: 12px;font-family: "宋体";color: #76bf88;}
